<section *ngIf="data" class="text-center">

    <mat-form-field>
        <mat-label>Choose {{ choosenData }}</mat-label>
        <mat-select [formControl]="dataControl" (selectionChange)="selectedItem.emit(dataControl.value)">
            <mat-option *ngFor="let item of data" [value]="item.name">
                {{ item.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

</section>

<!-- <p>You selected: {{ dataControl.value }}</p> -->