mat-card { 
    width: 60%;
    min-width: 18rem;
}

.mat-card-header { justify-content: center; }

img {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

::ng-deep .mat-typography p { margin: 0 0 6px; }