<mat-card *ngIf="!(dataValid === '' || dataValid === 'Asia' || dataValid === 'Europe') && details" class="text-center m-auto mt-5">
    
    <mat-card-header>
        <mat-card-title class="text-uppercase">{{ details.name }}</mat-card-title>
        <mat-card-subtitle>[ <span class="text-danger">{{ details.capital }}</span> ]</mat-card-subtitle>
        <mat-card-subtitle>Population {{ details.population | number }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div [hidden]="!imageLoader"><mat-spinner class="m-auto"></mat-spinner></div>
        <img [hidden]="imageLoader" (load)="imageLoader=false;" src="{{ details.flag }}" alt="image" width="50%" />
        <p *ngIf="details.currencies.length === 1" class="mt-4 text-uppercase"><b>Currency</b></p>
        <p *ngIf="details.currencies.length > 1" class="mt-4 text-uppercase"><b>Currencies</b></p>
        <div *ngFor="let item of details.currencies">
            {{ item.name }} ({{ item.symbol }}) {{ item.code }}
        </div>
    </mat-card-content>

</mat-card>
