<!-- <div class="d-flex justify-content-center align-items-center min-vh-100">Hello surfer!</div> -->
<section class="p-5 min-vh-100" style="background: ghostwhite;">

    <h1 class="text-uppercase text-center">{{ title }}</h1>

    <app-select
        [data]="regions$ | async"
        [choosenData]="'region'"
        (selectedItem)="getSelected($event)"
    ></app-select>

    <app-select
        [data]="countries$ | async"
        [choosenData]="'country'"
        (selectedItem)="getSelected($event)"
    ></app-select>

    <app-details
        [details]="currentCountry$ | async"        
        [dataValid]="validateData"
    ></app-details>

</section>